<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2010 Christopher Eby <kreed@kreed.org>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.adonai.nolife"
    android:versionName="1.0.0"
    android:versionCode="100"
    android:installLocation="auto">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- This is needed for isWiredHeadsetOn() to work in some cases. (bug?) -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <supports-screens android:smallScreens="true" />
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:backupAgent="PreferencesBackupAgent"
        android:allowBackup="true">
        <activity
            android:name="LaunchActivity"
            android:theme="@style/NoBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="FullPlaybackActivity"
            android:theme="@style/NoBackground"
            android:launchMode="singleInstance" />
            <receiver
                android:name=".OneLineWidget"
                android:label="NoLife Player 1x4">
                <intent-filter>
                    <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                </intent-filter>
                <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/oneline_widget" />
            </receiver>
        <activity
            android:name="LibraryActivity"
            android:launchMode="singleInstance"
            android:theme="@style/NoBackground" />
        <activity
            android:name="MiniPlaybackActivity"
            android:theme="@android:style/Theme.Dialog"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            </activity>
        <receiver
            android:name=".FourLongWidget"
            android:label="NoLife Player 2x4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/four_long_widget" />
        </receiver>
        <receiver android:name=".LyricsWidget" android:label="NoLife Lyrics Widget 4x4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/lyrics_widget" />
        </receiver>
        <receiver android:name="org.adonai.nolife.MediaButtonReceiver" >
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.VOLUME_CHANGED_ACTION"/>
            </intent-filter>
        </receiver>
        <service android:name="org.adonai.nolife.PlaybackService">
            <intent-filter>
                <action android:name="org.adonai.nolife.action.PLAY" />
                <action android:name="org.adonai.nolife.action.PAUSE" />
                <action android:name="org.adonai.nolife.action.TOGGLE_PLAYBACK" />
                <action android:name="org.adonai.nolife.action.NEXT_SONG" />
                <action android:name="org.adonai.nolife.action.PREVIOUS_SONG" />
            </intent-filter>
        </service>
        <activity android:name="PreferencesActivity" />
        <activity android:name="org.adonai.nolife.TagEditActivity"/>
        <activity android:name="PlaylistEditor"/>
        <activity android:launchMode="singleInstance" android:name="FolderSelectActivity"/>

    </application>
</manifest>
